/**
* CSS para el index de la aplicacion 
* Contiene lo necesario para dar apariencia y un responsive desing
*
* @author Grupo de Iker, Ramon y David
* @version 1.0 06/10/2017
*
*/

/*CONFIGURACION GENERAL*/
body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;

}

#contenido {
    width: 90%;
    height: 100%;
    margin: 50px auto;
}

/*-- FIN --*/

/*CONFIGURACION DEL HEADER*/
header {

    background-repeat: no-repeat;
    height: 100px;
    font-size: 3em;
    text-align: center;
    padding-bottom: 10px;

}

header img {

    max-width: 100%;
    height: auto;

}

/*-- FIN --*/

/*CONFIGURACION DEL NAV*/
nav {
    background-color: #5AB3DF;
    height: 20px;
}

ul {

    height: 20px;
    margin: 0px;
    position: relative;
    padding: 0px 0px 0px 0px;
}

ul li {

    list-style: none;
    float: left;
    width: 25%;
    height: 25px;
    text-align: center;

}

ul li a {
    text-decoration: none !important;
}

ul li:hover {
    text-decoration: none;
    background-color: #0059FF;

}

a {

    color: white;
}

.activo {
    background-color: #0059FF;
}

#menu {

    background-color: #5AB3DF;
}

button {
    display: none;
}

/*-- FIN --*/

/*CONFIGURACION DEL ASIDE*/
aside {

    width: 25%;
    height: 650px;
    float: left;
    background-color: #E2E5EE;
    color: black;
    text-align: center;
}

aside ul li {

    clear: left;
    margin: 5%;
}

/*-- FIN --*/

/*CONFIGURACION DEL SECTION*/
section {

    width: 74.73%;
    height: 650px;
    float: left;
    position: relative;
    text-align: center;

}

iframe {

    margin-top: 10px;

}

/*-- FIN --*/

/*CONFIGURACION DEL FOOTER*/
footer {
    height: 80px;
    background-image: url("imagenes/pie.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
    position: relative;
}

/*-- FIN --*/

/*------------------------------------------------------------------------------------------------*/

/*CONFIGURACION DEL RESPONSIVE WEB DESIGN MEDIANTE - MEDIA QUERIES*/

@media screen and (max-width: 1900px) {

    aside {

        width: 100%;
        height: 20px;

    }

    #info {

        display: none;
    }

    section {

        width: 100%;

    }

}

@media screen and (max-width: 1065px) {

    nav {
        height: 40px;
    }

}

@media screen and (max-width: 800px) {

    #contenido {
        width: 100%;
        margin: 0px auto;

    }

    button {

        display: block;

    }

    nav {

        height: 80px;
        display: none;

    }

    ul li {
        clear: left;
        width: 100%;
        text-align: left;
        background-color: #5AB3DF;
    }

}

@media screen and (min-width: 800px) {

    button {

        display: none;

    }

    nav {

        display: block !important;
        height: 25px;
        font-size: 1.3em;

    }

    ul li {
        float: left;
        width: 25%;
        text-align: center;
    }

}

/*---------------------- FIN ----------------------*/

